.filter {
    background-color: #fff;
}

.filter__container {
    display: flex;
    max-width: 167px;
    padding: 32px 0 47px 0;
}

.filter__checkbox-title {
    height: 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    max-width: 117px;
    padding: 0;
    margin: 0;
}

.filter__checkbox-input {
    margin-right: 14px;
    width: 36px;
    height: 20px;
    border: none;
    background-image: url("../../images/checkbox.svg");
    cursor: pointer;
    appearance: none;
}

.filter__checkbox-input::after {
    position: absolute;
    height: 16px;
    width: 16px;
}

.filter__checkbox-input:checked {
    background-image: url("../../images/checkbox-active.svg");
}

@media screen and (max-width: 1023px) {
    .filter__container {
        flex-direction: row-reverse;
        max-width: 100%;
    }

    .filter__checkbox-title {
        height: 18px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        max-width: 117px;
        padding: 0;
        margin: 0;
    }

    .filter__checkbox-input {
        margin: 0 0 0 16px;
    }

}

@media screen and (max-width: 767px) {
    .filter__container {
        max-width: 148px;
        margin: 0 auto;
        padding: 41px 0 51px 0;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .filter__checkbox-input {
        margin: 0 0 0 13px;
    }
    .filter__checkbox-title {
        font-size: 11px;
    }
}
