.movies__cards {
    background-color: #fff;
    padding: 70px 70px 99px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
 .movies__cards-list {
    position: relative;
    padding: 70px 0 0 0;
    margin: 0;
    min-height: 250px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px 20px;
}
.movies__cards-button {
    margin: 0 auto;
    margin-top: 60px;
    width: 320px;
    min-height: 36px;
    background-color: #F9F9F9;
    border-radius: 6px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
    padding: 0;
}
.movies__cards-button:hover {
    opacity: 0.8;
}
@media screen and (max-width: 1239px) {
    .movies__cards-container {
        max-width: 870px;
    }
    .movies__cards-list {
        grid-template-columns: repeat(3, 270px);
        gap: 30px 30px;
        padding: 70px 0 0 0;
    }
  }

@media screen and (max-width: 1023px) {
    .movies__cards {
        padding: 0 0 99px 0;
    }
    .movies__cards-list {
        grid-template-columns: repeat(2, 339px);
        gap: 30px 30px;
        padding: 80px 30px 0 30px;
    }
  }
  @media screen and (max-width: 767px) {
    .movies__cards {
        padding: 0 10px 80px 10px;
        max-width: 768px;
    }
    .movies__cards-list {
        grid-template-columns: repeat(1, 300px);
        gap: 34px 0;
    }
    .movies__cards-button {
        width: 240px;
        margin: 0 auto;
    }
} 
