.profile {
    background-color: #fff;
}

.profile__container {
    position: relative;
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
    min-height: 462px;
    padding: 74px 0 70px 0;
}

.profile__name {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: black;
    margin: 0;
    text-align: center;
}

.profile__form {
    padding-top: 123px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 11px;
    min-height: 30px;
    cursor: text;
}

.profile__border {
    border-top: 1px solid #E8E8E8;
    padding: 0;
    padding-top: 17px;
}

.profile__input {
    margin-bottom: 16px;
    padding: 0;
    height: 14px;
    text-align: right;
    font-weight: 400;
    font-size: 11px;
    color: #000;
    border: none;
    outline: none;
    width: 370px;
}

.profile__input:focus {
    border-radius: 3px;
    outline: 2px ridge #3456F3;
}

.profile__button-container {
    width: 410px;
    margin-top: 205px;
    display: flex;
    flex-direction: column;
}

.profile__button-edit {
    font-size: 13px;
    font-weight: 400;
    color: #000;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
    margin-bottom: 16px;
    text-align: center;
    text-decoration: none;
}

.profile__button-exit {
    font-size: 13px;
    font-weight: 500;
    color: #FF3055;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    margin: 0 auto;
    border: none;
    background-color: #fff;
}

.profile__input-error {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    color: #FF3055;
    position: absolute;
    top: 17px;
}
.profile__button-edit:hover {
    opacity: 0.7;
}
.profile__button-exit:hover {
    opacity: 0.7;
}
.profile__button-submit {
    width: 410px;
    height: 45px;
    background-color: #3456F3;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.profile__button-submit:hover {
    opacity: 0.8;
}
.profile__button-submit:disabled {
    background-color: #F8F8F8;
}
.success__text {
    text-align: center;
    padding-bottom: 10px;
    color: #23b632;
}
.success__text-err {
    text-align: center;
    padding-bottom: 10px;
    color: #FF3055;
}

@media screen and (max-width: 1023px) {
    .profile__container {
        min-height: 445px;
        padding: 236px 0 269px 0;
    }

    .profile__form {
        padding-top: 96px;
    }

    .profile__button-container {
        margin-top: 195px;
    }
}

@media screen and (max-width: 767px) {
    .profile__container {
        max-width: 260px;
        min-height: 596px;
        padding: 70px 0 40px 0;
    }

    .profile__form {
        padding-top: 80px;
    }

    .profile__button-container {
        margin-top: 363px;
    }

    .profile__input {
        width: 210px;
    }

    .profile__button-container {
        width: 260px;
    }
    .profile__button-edit {
        font-size: 12px;
        margin-bottom: 18px;
    }
    
    .profile__button-exit {
        font-size: 12px;
    }
}
