.promo {
    background: #073042;
    margin-top: -2px;
    padding: 0 70px;
}

.promo__container {
    position: relative;
    max-width: 1140px;
    min-height: 574px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.promo__text {
    padding-top: 75px;
}

.promo__title {
    max-width: 640px;
    min-height: 100px;
    color: #fff;
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    font-family: Inter;
}

.promo__subtitle {
    max-width: 260px;
    min-height: 32px;
    color: #fff;
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 36px;
}

.promo__image {
    padding-top: 75px;
    max-width: 100%;
    max-height: 304px;
}

@media screen and (max-width: 1023px) {
    .promo__container {
        max-width: 680px;
        min-height: 574px;
        display: flex;
        flex-direction: column-reverse;
    }

    .promo__image {
        padding-top: 140px;
    }

    .promo__title {
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
    }

    .promo__text {
        padding-top: 48px;
    }

    .promo__subtitle {
        text-align: center;
        padding: 22px 0 92px 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .promo {
        padding: 0 10px;
    }
    .promo__container {
        max-width: 300px;
        min-height: 879;
        display: flex;
        flex-direction: column-reverse;
    }

    .promo__image {
        padding-top: 70px;
        max-width: 211px;
        min-height: 206px;
        margin: 0 auto;
    }

    .promo__title {
        margin: 0 auto;
        max-width: 300px;
        height: 114px;
        text-align: center;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.2px;
    }

    .promo__text {
        padding-top: 44px;
    }

    .promo__subtitle {
        text-align: center;
        padding: 24px 0 80px 0;
        margin: 0 auto;
    }

}
