.login {
    background-color: #fff;
}

.login__container {
    height: 560px;
    max-width: 396px;
    margin: 0 auto;
    padding: 70px 0;
}

.login__logo {
    width: 38px;
    height: 38px;
}

.login__name {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding-top: 40px;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 40px;
}

.login__label {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 5px;
}

.login__input {
    margin-bottom: 10px;
    padding: 0;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    border: none;
    outline: none;
    width: 100%;
}

.login__border {
    border-top: 1px solid #E8E8E8;
    padding-bottom: 24px;
}

.login__button-signin {
    margin-top: 197px;
    width: 100%;
    min-height: 45px;
    border: none;
    background-color: #3456F3;
    border-radius: 3px;
    color: #fff;
    padding: 0;
}

.login__button-signin:hover {
    opacity: 0.8;
}

.login__button-container {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.login__button-question {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    height: 17px;
    margin: 0;
    padding-right: 6px;
}

.login__signup {
    text-decoration: none;
    color: #3456F3;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.login__signup:hover {
    opacity: 0.7;
}

.login__input-error {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    color: #FF3055;
    position: absolute;
    top: 17px;
}

@media screen and (max-width: 1023px) {
    .login__container {
        height: 560px;
        padding: 232px 0;
    }

    .login__form {
        padding-top: 40px;
    }

    .login__button-signin {
        margin-top: 197px;
    }
}

@media screen and (max-width: 767px) {
    .login__container {
        height: 694px;
        padding: 56px 0 30px 0;
    }

    .login__logo {
        display: block;
        margin: 0 auto;
    }

    .login__name {
        text-align: center;
        margin: 0 auto;
        padding-top: 50px;
    }

    .login__form {
        padding-top: 80px;
        max-width: 260px;
        margin: 0 auto;
    }

    .login__button-signin {
        margin-top: 285px;
    }

    .login__button-container {
        padding-top: 14px;
    }

    .login__button-question {
        font-size: 12px;
    }

    .login__signup {
        font-size: 12px;
    }
}