.about__me {
    background-color: #fff;
    color: #000;
    padding: 0 70px;
}

.about__me-status {
    padding-top: 110px;
    max-width: 1140px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}

.about__me-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}

.about__me-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.about__me-name {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0;
}

.about__me-age {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding-top: 18px;
}

.about__me-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding-top: 26px;
}

.about__me-link {
    text-decoration: none;
    color: #000;
    margin-top: 120px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.about__me-link:hover {
    opacity: 0.7;
}

.about__me-photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
    .about__me {
        padding: 0 50px;
    }
    .about__me-status {
        padding-top: 90px;
        max-width: 668px;
    }

    .about__me-container {
        max-width: 668px;
    }

    .about__me-name {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .about__me-age {
        font-size: 12px;
        line-height: 18px;
        padding-top: 16px;
    }

    .about__me-description {
        font-size: 12px;
        line-height: 18px;
        padding-top: 20px;
        max-width: 364px;
    }

    .about__me-link {
        margin-top: 123px;
    }

    .about__me-photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 767px) {
    .about__me {
        padding: 0 14px;
    }

    .about__me-container {
        padding-top: 60px;
        max-width: 668px;
        display: flex;
        flex-direction: column-reverse;
    }

    .about__me-info {
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
    }

    .about__me-name {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .about__me-age {
        font-size: 11px;
        line-height: 16px;
        padding-top: 20px;
    }

    .about__me-description {
        font-size: 11px;
        line-height: 16px;
        padding-top: 20px;
    }

    .about__me-link {
        margin-top: 73px;
    }
    .about__me-photo {
        margin: 0 auto;
    }

}

@media screen and (max-width: 450px) {
    .about__me-status {
        padding-top: 69px;
        max-width: 292px;
        padding-bottom: 28px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about__me-photo {
        width: 292px;
        height: 352px;
        margin: 0 auto;
    }

    .about__me-info {
        text-align: left;
        max-width: 292px;
        margin: 0 auto;
        padding-top: 40px;
    }

    .about__me-link {
        margin-top: 72px;
    }
}